## 함수

In [1]:
def square(x):
    return x*x

In [2]:
square(3)

9

In [3]:
def abs(x):
    if x<0:
        return -x
    else:
        return x

In [5]:
abs(-5.6)

5.6

In [6]:
def min_max(a,b):
    if a<b:
        return a,b
    else:
        return b,a

In [10]:
min,max=min_max(300,200)
print(min,max)

200 300

In [31]:
def sum_to_n(n):
    """
    n까지의 자연수의 합을 반환하는 함수
    n이 정수가 아니면 TypeError 발생
    n이 음수이면 ValueError 발생
    """
    if n < 0:
        raise ValueError('n must be bigger 0')
    if type is not int:
        raise TypeError('n is not int')

    sum=0
    for x in range(n+1): #range는 반드시 정수
        sum+=x
    return sum

In [19]:
print(sum_to_n(10))

55

In [20]:
sum_to_n?

In [21]:
sum_to_n??

In [33]:
sum_to_n(5.5) #정수가 아니라 타입 오류

TypeError: n is not int

In [32]:
sum_to_n(- 5)

ValueError: n must be bigger 0

In [43]:
def sum_f(a,f=lambda x:x):
    """
    시퀀스 a의 각 원소에 함수 f를 취한 값의 합
    
    파라미터
    --------
    a : sequence
    f : function, default : 항등함수
    만약 f가 없으면 a를 다 더하라
    """
    sum=0
    for v in a:
        sum+=f(v)
    return sum

In [44]:
my_list=[5,2,4]

def sq(x):
    return x*x

sum_f(my_list,sq)

45

In [39]:
import math

In [40]:
sum_f(my_list,math.sqrt)

5.650281539872885

In [41]:
sum_f(my_list,lambda x: x*x)

45

In [42]:
sum_f(my_list,lambda x:x%2)

1

In [46]:
sum_f(my_list)

11

In [47]:
s=['tiger','giraffe','cat','dog']

In [48]:
s.sort()

In [49]:
s

['cat', 'dog', 'giraffe', 'tiger']

In [50]:
s.sort(key=lambda x:len(x))

In [51]:
s

['cat', 'dog', 'tiger', 'giraffe']